* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f6f6;
    font-weight: 300;
    font-family: 'Poppins', 'sans-serif';
}

p {
    margin: 4px 0;
}

.keyword {
    font-weight: 600;
    text-transform: uppercase;
}

.answer {
    color: red;
    font-weight: 400;
}

.rephrasing-element {
    margin-bottom: 50px;
}

.show-answer {
    margin-left: 15px;
}

.mode-selector {
    margin: auto;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selector {
    background-color: #2596be;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    margin: 15px;

    font-family: 'Poppins', 'sans-serif';
    color: white;
    font-size: 36px;
}
