.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-sentence {
    background-color: #F7F6F6;
    border-radius: 20px;
    border: 2px solid black;
    min-width: 30vw;
    min-height: 25vh;
}

.new-sentence-inputs {
    display: grid;
    grid-gap: 10px;
    margin: 50px;
}

.formItem {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.new-sentence input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}

.new-sentence-buttons {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.new-sentence-buttons input {
    background-color: inherit;
    border: 0;
    font-size: 1.5rem;
    color: #2596be;
    cursor: pointer;
}

.new-sentence-buttons input:hover {
    background-color: #e0dddd;
}
