.examWindow {
    width: 50vw;
    height: 50vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
}

.examText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

.examText p {
    margin: 0;
}

.examText input {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #f7f6f6;
}

.leftButton, .rightButton {
    position: absolute;
    bottom: 7%;

    background-color: inherit;
    color: #2596be;
}

.examWindow .leftButton:hover, .rightButton:hover {
    background-color: #F7F6F6;
    color: #2385af;
}

.leftButton {
    left: 7%;
}

.rightButton {
    right: 7%;
}

.initSentence {
    margin-right: 0.6vw;
}

.examText input[type='number'] {
    width: 3vw;
}
