.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 17vw;
    height: 17vw;
    background-color: #2596be;
    font-size: 3rem;
    padding-top: 2.5vw;
}

.selector:hover {
    background-color: #2385af;
}
