.popup-window-buttons {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.popup-window-buttons input {
    background-color: inherit;
    border: 0;
    font-size: 1.5rem;
    color: #2596be;
    cursor: pointer;
}

.popup-window-buttons input:hover {
    background-color: #e0dddd;
    border-radius: 5px;
}

.new-sentence-inputs {
    display: grid;
    grid-gap: 10px;
    margin: 50px;
}

.formItem {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.new-sentence input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}
