CREATE USER IF NOT EXISTS 'user'@'localhost' IDENTIFIED BY 'password';

DROP DATABASE IF EXISTS database;

CREATE DATABASE database;

USE database;

CREATE TABLE table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    sentence VARCHAR(150) NOT NULL,
    keyword VARCHAR(50) NOT NULL,
    sentence_start VARCHAR(50) NOT NULL,
    sentence_end VARCHAR(50) NOT NULL,
    answer VARCHAR(50) NOT NULL
);
